@import url(//db.onlinewebfonts.com/c/388d4c308786c84a30904847f46525c8?family=Intro+Rust+G+Base+2+Line);
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin : 0;
  }

  body{
    display: flex;
    flex-direction: column;
}
  /* ADD.PHP */
h1{
  display: flex;
  align-self: center;
  justify-content: center;
  color: #59190c;
  font-size: 55px;
  font-family: 'Intro Rust G Base 2 Line', sans-serif;
  line-height: 66px;
  font-weight: 400;
}

.box {
    background-color: #c2855e;
    display: grid;
    width: 100%;
    font-size: 18px;
    grid-template-columns: 1fr 2fr 1fr;
  }
  

    a{
    background-color: #c2855e;
    margin: auto;
    height: 40px;
    width: auto;
    border-radius: 10px;
    font-family: Oleo Script;
    font-size: 25px;
    color: #59190c;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    text-align: center;
    text-decoration: none;
  }

  .a2{
    width: 150px;
  }

  .carousel{
    display: flex;
    justify-content: space-between;
    background-color: #59190c;
    height: 50px;
    width: 100%;
  }

 .boximg{
  display: flex;
  align-items: center;
  }

  .elem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .p{
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: Oleo Script;
    font-size: 25px;
    align-self: center;
    color: #59190c;
    margin-bottom: 2rem;
  }

  .headersousnom{
    margin-bottom: 0;
  }

  @media (max-width: 768px){
    img{
      height: 135px;
      width: 186px;
    }
    .boximg{
      display: none;
    }
    .box{
      background-color: #c2855e;
      display: flex;
      width: 100%;
      font-size: 18px;
      justify-content: center;
    }
    .a2{
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
  }




  /* PAGE CSS CONTACT  */
  .container .text p{
    font-size: 25px;
    color: white;
    font-family: 'Oleo Script';
    margin: 20px;
}
.text{
    background-color: #9a765f;
    width: 550px;
    height: 200px;
    margin: 40px;
}
.center{
    display: block;
    text-align: center;
}

iframe{
  margin-top: 40px;
}
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}



@media (max-width: 768px){
    .text{
        width: 100%;
        margin: 0px;
    }
    iframe{
        margin-top: 10px;
    }
}



/* PAGE FOOTER CSS */
footer{
  background-color: #59190c;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

input{
  background-color: #c2855e;
  margin: auto;
  height: 40px;
  width: auto;
  border-radius: 10px;
  font-family: Oleo Script;
  font-size: 25px;
  color: #59190c;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

@media (max-width: 768px){
  footer{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
  }
  input{
      width: auto;
  }
  .boximg2{
      height: 135px;
      width: 186px;
      display: flex;
      align-self: center;
  }
  footer #bouton{
      margin-top: 10px;
  }
}


/* PAGE HEADER 3 CSS */



.header3{
  background-color: #9a765f;
  color: black;
  width: auto;
  
} 
.header3 .ouverture{ 
display:flex;
justify-content: space-around;
  font-size:15px;
  text-transform:none;
 
}
.header3 .ouverture p{
font-family:"Intro Rust G Base 2 Line";
  width: 500px; 
  animation: defilement-rtl 5s linear;
  animation-iteration-count: infinite;
}



@keyframes defilement-rtl {
0% {
  -webkit-transform: translate(0);
  transform: translate(0, 0);
}
100% {
  -webkit-transform: translate(-100%);
  transform: translate(-100%, 0);
}
}

@media (max-width: 768px){
  .header3{
    width: 100%;
  }
}

/* PAGE HORAIRES CSS */


*{
    margin: 0;
}



.horaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9a765f;
    font-family: 'Oleo Script', cursive;
    color: white;
    font-size: 20px;
    text-align: center;
    margin:3rem;
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.25);
}

.content, .content2{
display: flex;
justify-content: center;
align-items: center;
width: 592px;
height: 48px;
left: 424px;
top: 851px;
background: #59190C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
margin-bottom: 2rem;
margin-top: 2rem;

}

.other-content, .other-content2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 287px;
height: 120px;
left: 309px;
top: 427px;
margin-bottom:2rem;
background: #59190C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;
}

.content-container{
    display: flex;
   
}

.other{
    margin-right: 7rem;
    margin-left: 7rem;
}

@media (min-width: 768px){
  .content2, .other-content2{
      display: none;
  }
}
@media (max-width: 768px){
  .content, .other-content{
      display: none;
  }
  .content2{
      width: 100%;
      height: auto;
      margin-top: 0;
  }
  .container{
      width: 100%;
      margin: 0;
  }
  .other-content2{
      width: 200px;
      height: auto;
  }
}

/* PAGE MENU CSS */
.imgmenu{
  width: 170px;
  height: 150px;
}
.imgcheckmark{
  width: 50px;
  height: 50px;
}
.containermenu{
  height: 225px;
  width: 600px;
  background-color: #9a765f;
  display: flex;
  margin-right: auto;
  margin-left:auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

}
.textmenu p{
  font-family: "Oleo Script";
  font-size: 1em;
}
h3{
  font-family: "Montserrat";
  color: white;
  font-size: 1.5em;
}
.divprix{
  display: flex;
  align-self: flex-end;
  height: 50px;
  width: 300px;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}
.prix{
  background-color: #59190c;
  color: white;
  font-size: 1.5em;
  height: 1.5em;
  margin-left: 20px;
}

.textmenu{
  margin-left: -90px;
  width: 250px;
}

@media (max-width: 768px){
  .containermenu{
      width: 100%;
  }
}


/*PAGE CSS MAIN */

.main{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #9a765f;
  font-family: 'Oleo Script', cursive;
  width: 1000px;
  height: 400px;

}
.main .title{
  margin-left: 2rem;
  font-size: 25px;
  color: #59190c;
}

.paragraphe-left{
  
  width: 900px;
  height: 200px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;

}

.paragraphe-right{
   width: 900px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  
}

.main img{
  width: 200px;
  height: 200px;
  
}

.paragraphe-right img{
  padding-left: 2rem;
  
}

.main p{
  font-size: 15px;
  padding-left: 2rem;
}


/* PAGE  AVIS CSS */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avis{
  display: flex;
  border: solid 2px black;
  border: none;
  height: 200px;
  width: 300px;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #c2855e;
  margin-top: 40px;
  margin-left: 2%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}


.zone{
  height: 300px;
  width: 400px;
}

.formulaire{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 2px black;
  border: none;
  height: 6em;
  
}

.entree{
  display: flex;
  justify-content: space-around;
  border:  solid 2px black;
  flex-wrap: wrap;
  border: none;
  
  
}

.etoile{
  display: flex;
  justify-content: space-between;
  height: 1em;
  width: 50%;
  border: solid 2px black;
  border: none;
  margin-left: 8%;
  background-color: #9a765f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

  
.noms, .noms2{
  background-color: #9a765f;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.noms2, .noms{
  width: 50%;
  height: 1.1em;
  margin-right: 35%;
}



.texte{
  border: solid 2px black;
  border: none;
  height: 6em;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Oleo Script;
  background-color: #9a765f;
  margin-bottom: 2vw;
}





/* pour les étoiles 

/* Par défaut, une étoile est en gris,
 avec un padding et un curseur en forme de main. */
 .fa-star {
color: grey;
cursor: pointer;


}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
color: #c9f508;
}



/* Le groupe '.stars' positionne les étoiles
   les unes à côté des autres sans espacements. */
.stars {
  display: inline-flex;
  justify-content: space-around;
  font-size: 1em;
      
}

/**
 * Et là opère la magie du ':hover' !
 */

/* A l'état :hover sur le parent '.rating',
   on force TOUTES les étoiles à passer en jaune. */
.stars:hover .fa-star {
  color: #ffdc0f;
}
/* Et si la souris survole une étoile en particulier,
   on sélectionne toutes les étoiles qui sont APRÈS celle-ci
   grâce à l'opérateur '~' et on les force en GRIS */
.stars .fa-star:hover ~ .fa-star {
  color: gray;
}



/* Chargement de la police d'écriture plus rapide pour éviter aux users d'attendre 10 secondes pour 
pouvoir charger la page */
@font-face {
  font-family:"Oleo Script";
  src: url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
  
}
@font-face {
  font-family: "Montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

}
@font-face {
  font-family: 'Intro Rust G Base 2 Line', sans-serif;
    src:url(//db.onlinewebfonts.com/c/388d4c308786c84a30904847f46525c8?family=Intro+Rust+G+Base+2+Line);
    
}


/* PAGE CSS ADMIN.PHP*/

.connexionadmin{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.adminpseudo input, .adminmdp input{
  height: 20px;
  width: 150px;
}

input#btnconnect{
  margin-top: 2rem;
  width: 150px;
  height: 40px;
}
